<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/main.js" defer></script>
</head>
<body>
    <h1>Blog Post</h1>
    <a href="/">home</a>
    <a href="/add">add a post</a>
    
  <div id="container">
   <% blogItems.forEach((blog, i) => { %>
       
         <div id="<%= blogItems[i].title %>">
            <span> <%= blogItems[i]%></span>
            <h2><%= blog.title %></h2>
            <p><%= blog.content %></p>
            <button id="<%= blogItems[i].title %>">♡</button>
            <p><%= blog.likes %></p>
            using a button was way easier then a P tag
            <p>By: <%= blog.author %></p>
         </div>
    <% }) %> 
</div>


    

    // add public folder for the div then add if there is no blogsitems also add a linke to add post,
    // once these are done we can start looking into comments
</body>
</html>